@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');
.footer {
    background-color: #7d9bd1;
    margin-top:50px;
    h3 {
        color:#FFF;
        font-family: 'Sniglet', cursive;
    }
    ul {
        list-style: none;
        padding:0;
        margin:0;
        a {
            color:#FFF;
            text-decoration:none;
        }
    }
}